*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

body{
  height: 100vh;
}
section {
  width: 100vw;
  height: 100vh;
  margin: auto;
  background: aqua;
}
.container{
  min-width:400px;
  height: 600px;
  margin: auto;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
  border: 1px solid red;
  margin: auto;
  background: #ddd;
}
.box{

  display: flex;
  flex-wrap: wrap;
  padding:1rem;
  border: 1px solid #000;
}
.box h1{
  background: red;
  padding: 1rem;
}
.box2{
 background: green;
 display: flex;
 flex-wrap: wrap;
 padding:1rem;
 border: 1px solid #000;
}
.box3{
 background: blue;

 display: flex;
 flex-wrap: wrap;
 padding:1rem;
 border: 1px solid #000;
}